<!--? Extend from Base.html -->
{% extends "base.html" %}

<!--? Load static -->
{% load static %}

<!--? Title -->
{% block title %}Home{% endblock title %}

<!--? Content -->
{% block content %}
    <div class="main-body" id="main-body">
        <div class="img-section">
            <img src="{% static 'img/self_foto.jpg' %}" alt="Isai's Image">
        </div>

        <div class="info-section">
            <h2>Software engineer with a passion for creating innovative solutions.</h2>
            <h3>Isai .M Almeraz Landeros</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt esse asperiores consequuntur provident excepturi saepe, aliquid tempora voluptates aspernatur laboriosam debitis, quod possimus quam in assumenda quasi cum, impedit ducimus!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt esse asperiores consequuntur provident excepturi saepe, aliquid tempora voluptates aspernatur laboriosam debitis, quod possimus quam in assumenda quasi cum, impedit ducimus!</p>
        </div>
    </div>
    
    <!--* My skils -->
    <div class="skills-section">
        <h2> My Skills</h2>

        <div class="Skills-items">
            {% for skill in skills %}
                <div class="skill-item">
                    <i class="{{ skill.icon }}"></i>
                    <h3>{{ skill.name }}</h3>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}